.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: 64px;
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(48px);
  }
}

.thinFont {
  font-weight: 300;
}

.nameTitle {
  max-width: 747px;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 375px;
  }
}

.sectionContainer {
  max-width: 1265px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
    margin: 0;
  }
}

.helloTitle {
  align-self: flex-start;
  max-width: 747px;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.resumeButton {
  margin-top: 100px;
}
