/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#__next {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

p, h1, h2, h3 {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
